body {
    padding: 15px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

span {
    display: block;
    background-color: lightgray;
    outline: solid 1px gray;
}

@media screen and (min-width: 768px) {
span{
    background-color: mistyrose;
}
}